<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
</head>
<body>
Show the transition if the issue summary matches: <b><span th:text="${regexp}">regexp</span></b>.
</body>
</html>